  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This File is Provided by Alins Code */

:root{
  --background: #e3f9ff;
  --calc-bg: #3a4452;
  --hover: royalblue;
  --text: #fff;
}

body, .btn{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: var(--calc-bg);
  max-width: 400px;
}

form div{
  display: flex;
  flex-direction: row;
}

form div div{
  display: flex;
  flex-direction: column;
}

.btn{
  max-width: 100px;
  max-height: 80px;
  width: 25vw;
  height: 20vw;
  border: 0;
  background: transparent;
  color: var(--text);
  font-weight: 600;
  font-size: 20px;
}

.btn:active{
  background: var(--hover);
}

.display{
  display: flex;
  justify-content: flex-end;
  margin: 3%;
  flex: 1;
  height: 20vw;
  max-height: 80px;
}

.display input{
  background: transparent;
  color: var(--text);
  border: none;
  height: 100%;
  width: 100%;
  text-align: right;
  font-size: 28px;
  font-weight: 500;
}

.operator{
  color: aqua;
}

.equal{
  max-height: 160px;
  height: 80vw;
  background: var(--hover);
  color: var(--text);
}

.operator:active, .equal:active{
  background: limegreen;
  color: var(--text);
}
